In [1]:
from pyspark.sql import SparkSession
spark=SparkSession

In [2]:
spark=SparkSession.builder.appName('functions').getOrCreate()

In [3]:
df_pyspark=spark.read.csv('MOCK_DATA.csv',header=True,inferSchema=True)

In [4]:
df_pyspark.show()

+---+----------+-----------+--------------------+-----------+---------------+
| id|first_name|  last_name|               email|     gender|     ip_address|
+---+----------+-----------+--------------------+-----------+---------------+
|  1|       Der|    Guthrie|  dguthrie0@dmoz.org|Genderfluid|   84.199.30.53|
|  2|     Wilow|  MacAiline|wmacailine1@fotki...|Genderfluid| 105.73.152.225|
|  3|   Ignacio|     Elgood|       ielgood2@t.co|   Bigender| 120.172.82.158|
|  4|   Xymenes|     Angeli|  xangeli3@desdev.cn|     Female| 50.240.252.201|
|  5|    Egbert|  Glaserman|eglaserman4@tamu.edu|Genderfluid| 185.86.126.206|
|  6|  Ninnetta|    Burgill|nburgill5@utexas.edu|Genderqueer|  234.104.44.29|
|  7|     Adamo|    Haydney|ahaydney6@so-net....|   Bigender|    98.182.4.12|
|  8|     Belva|     Thrift|bthrift7@constant...|Genderqueer|    38.154.94.3|
|  9|  Nicholas|      Rathe|nrathe8@ycombinat...|Genderqueer|  64.117.235.16|
| 10|    Britni|      Coupe| bcoupe9@dropbox.com|   Bigender| 254.232.51.132|
| 11|     Paton|      Ruger|prugera@technorat...|     Female| 14.192.247.186|
| 12|   Shelley|     Cluney|   scluneyb@furl.net|   Bigender|  230.239.63.27|
| 13|    Elissa|     Janman|ejanmanc@acquiret...|Genderfluid| 14.159.227.104|
| 14|    Mendel| Giacoppoli|mgiacoppolid@uiuc...|Genderqueer|165.173.185.236|
| 15| Stephanie|Shaughnessy|sshaughnessye@lin...|   Bigender|   32.88.10.160|
| 16|  Patrizia|      Haugg|  phauggf@oracle.com|   Bigender|  160.98.135.64|
| 17|     Kevan|    Gittoes|kgittoesg@homeste...|     Female| 105.127.150.48|
| 18|   Giacomo|    McGauhy|gmcgauhyh@dropbox...| Polygender|  193.79.241.45|
| 19|       Vin|  Jagielski|vjagielskii@yello...|    Agender|    58.66.26.24|
| 20|      Saba|  Dumbelton|sdumbeltonj@edubl...|Genderfluid|  225.108.95.65|
+---+----------+-----------+--------------------+-----------+---------------+
only showing top 20 rows

In [5]:
df_pyspark.printSchema()

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- ip_address: string (nullable = true)

In [10]:
##groupBy

# GroupbyGender and show the total 
df_pyspark.groupBy('gender').sum().show()

+-----------+-------+
|     gender|sum(id)|
+-----------+-------+
|Genderqueer|  65795|
|    Agender|  62884|
|     Female|  59329|
| Polygender|  64793|
|   Bigender|  60689|
| Non-binary|  59516|
|       Male|  57494|
|Genderfluid|  70000|
+-----------+-------+

In [12]:
##Count the different groups 

df_pyspark.groupBy('gender').count().show()

+-----------+-----+
|     gender|count|
+-----------+-----+
|Genderqueer|  131|
|    Agender|  127|
|     Female|  122|
| Polygender|  130|
|   Bigender|  123|
| Non-binary|  121|
|       Male|  113|
|Genderfluid|  133|
+-----------+-----+

In [13]:
df_pyspark.agg({'id':'sum'}).show()

+-------+
|sum(id)|
+-------+
| 500500|
+-------+

In [ ]:
# df_pyspark.groupBy('gender').max().show()