In [10]:
from pyspark.sql import SparkSession

In [11]:
spark=SparkSession.builder.appName('Calc').getOrCreate()

In [34]:
#Dropping Null values
df_pyspark=spark.read.csv('MOCK_DATAE.csv',header=True,inferSchema=True)

In [36]:
df_pyspark.show()

+---+----------+--------------------+--------------------+--------------+---------------+
| id|first_name|           last_name|               email|        gender|     ip_address|
+---+----------+--------------------+--------------------+--------------+---------------+
|  1|       Der|             Guthrie|  dguthrie0@dmoz.org|   Genderfluid|   84.199.30.53|
|  2|     Wilow|           MacAiline|wmacailine1@fotki...|   Genderfluid| 105.73.152.225|
|  3|   Ignacio|              Elgood|       ielgood2@t.co|      Bigender| 120.172.82.158|
|  4|   Xymenes|              Angeli|  xangeli3@desdev.cn|        Female| 50.240.252.201|
|  5|    Egbert|           Glaserman|         Genderfluid|185.86.126.206|           null|
|  6|  Ninnetta|             Burgill|nburgill5@utexas.edu|   Genderqueer|  234.104.44.29|
|  7|   Haydney|ahaydney6@so-net....|            Bigender|   98.182.4.12|           null|
|  8|     Belva|              Thrift|bthrift7@constant...|   Genderqueer|    38.154.94.3|
|  9|  Nicholas|               Rathe|nrathe8@ycombinat...|   Genderqueer|  64.117.235.16|
| 10|    Britni|               Coupe| bcoupe9@dropbox.com|      Bigender| 254.232.51.132|
| 11|     Paton|               Ruger|prugera@technorat...|        Female| 14.192.247.186|
| 12|   Shelley|              Cluney|   scluneyb@furl.net|      Bigender|  230.239.63.27|
| 13|    Elissa|              Janman|ejanmanc@acquiret...|   Genderfluid| 14.159.227.104|
| 14|    Mendel|          Giacoppoli|mgiacoppolid@uiuc...|   Genderqueer|165.173.185.236|
| 15| Stephanie|         Shaughnessy|sshaughnessye@lin...|      Bigender|   32.88.10.160|
| 16|  Patrizia|               Haugg|  phauggf@oracle.com|      Bigender|  160.98.135.64|
| 17|     Kevan|             Gittoes|kgittoesg@homeste...|        Female| 105.127.150.48|
| 18|   Giacomo|             McGauhy|gmcgauhyh@dropbox...|    Polygender|  193.79.241.45|
| 19|       Vin|           Jagielski|vjagielskii@yello...|       Agender|    58.66.26.24|
| 20|      Saba|           Dumbelton|sdumbeltonj@edubl...|   Genderfluid|  225.108.95.65|
+---+----------+--------------------+--------------------+--------------+---------------+
only showing top 20 rows

In [29]:
df_pyspark.drop('last_name')

DataFrame[id: int, first_name: string, email: string, gender: string, ip_address: string]

In [18]:
df_pyspark.na.drop()

DataFrame[id: int, first_name: string, last_name: string, email: string, gender: string, ip_address: string]

In [19]:
###any==how All thevlaues are null only you can get 
df_pyspark.na.drop(how='all')

DataFrame[id: int, first_name: string, last_name: string, email: string, gender: string, ip_address: string]

In [22]:
##threshold if more than 2 null values
df_pyspark.na.drop(how='all',thresh=2)

DataFrame[id: int, first_name: string, last_name: string, email: string, gender: string, ip_address: string]

In [25]:
##Subset drop from specfic columns
df_pyspark.na.drop(how='all',subset=['ip_address'])

DataFrame[id: int, first_name: string, last_name: string, email: string, gender: string, ip_address: string]

In [32]:
##Missing values 
df_pyspark.na.fill('Missing Values')

DataFrame[id: int, first_name: string, last_name: string, email: string, gender: string, ip_address: string]

In [37]:
df_pyspark.na.fill('Missing Values',['last_name','email']).show()

+---+----------+--------------------+--------------------+--------------+---------------+
| id|first_name|           last_name|               email|        gender|     ip_address|
+---+----------+--------------------+--------------------+--------------+---------------+
|  1|       Der|             Guthrie|  dguthrie0@dmoz.org|   Genderfluid|   84.199.30.53|
|  2|     Wilow|           MacAiline|wmacailine1@fotki...|   Genderfluid| 105.73.152.225|
|  3|   Ignacio|              Elgood|       ielgood2@t.co|      Bigender| 120.172.82.158|
|  4|   Xymenes|              Angeli|  xangeli3@desdev.cn|        Female| 50.240.252.201|
|  5|    Egbert|           Glaserman|         Genderfluid|185.86.126.206|           null|
|  6|  Ninnetta|             Burgill|nburgill5@utexas.edu|   Genderqueer|  234.104.44.29|
|  7|   Haydney|ahaydney6@so-net....|            Bigender|   98.182.4.12|           null|
|  8|     Belva|              Thrift|bthrift7@constant...|   Genderqueer|    38.154.94.3|
|  9|  Nicholas|               Rathe|nrathe8@ycombinat...|   Genderqueer|  64.117.235.16|
| 10|    Britni|               Coupe| bcoupe9@dropbox.com|      Bigender| 254.232.51.132|
| 11|     Paton|               Ruger|prugera@technorat...|        Female| 14.192.247.186|
| 12|   Shelley|              Cluney|   scluneyb@furl.net|      Bigender|  230.239.63.27|
| 13|    Elissa|              Janman|ejanmanc@acquiret...|   Genderfluid| 14.159.227.104|
| 14|    Mendel|          Giacoppoli|mgiacoppolid@uiuc...|   Genderqueer|165.173.185.236|
| 15| Stephanie|         Shaughnessy|sshaughnessye@lin...|      Bigender|   32.88.10.160|
| 16|  Patrizia|               Haugg|  phauggf@oracle.com|      Bigender|  160.98.135.64|
| 17|     Kevan|             Gittoes|kgittoesg@homeste...|        Female| 105.127.150.48|
| 18|   Giacomo|             McGauhy|gmcgauhyh@dropbox...|    Polygender|  193.79.241.45|
| 19|       Vin|           Jagielski|vjagielskii@yello...|       Agender|    58.66.26.24|
| 20|      Saba|           Dumbelton|sdumbeltonj@edubl...|   Genderfluid|  225.108.95.65|
+---+----------+--------------------+--------------------+--------------+---------------+
only showing top 20 rows

In [42]:
##mean mode median
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['id'],
    outputCols=["{}_imputed".format(c) for c in ['id']]
).setStrategy("mean")

In [43]:
imputer.fit(df_pyspark).transform(df_pyspark)

DataFrame[id: int, first_name: string, last_name: string, email: string, gender: string, ip_address: string, id_imputed: int]