In [26]:
import pandas as pd
# build pyspark session
from pyspark.sql import SparkSession

In [27]:
spark= SparkSession.builder.appName('CompanyData').getOrCreate()

In [28]:
spark

In [46]:
#read dataset
df_pyspark = spark.read.option('header','true').csv('MOCK_DATA.csv',inferSchema=True)

In [30]:
## check schema, the data types
df_pyspark.printSchema()

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- ip_address: string (nullable = true)

In [31]:
df_pyspark=spark.read.csv('MOCK_DATA.csv',header=True,inferSchema=True)

In [32]:
df_pyspark.printSchema()

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- ip_address: string (nullable = true)

In [33]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [34]:
df_pyspark.columns

['id', 'first_name', 'last_name', 'email', 'gender', 'ip_address']

In [35]:
df_pyspark.head(3)

[Row(id=1, first_name='Der', last_name='Guthrie', email='dguthrie0@dmoz.org', gender='Genderfluid', ip_address='84.199.30.53'),
 Row(id=2, first_name='Wilow', last_name='MacAiline', email='wmacailine1@fotki.com', gender='Genderfluid', ip_address='105.73.152.225'),
 Row(id=3, first_name='Ignacio', last_name='Elgood', email='ielgood2@t.co', gender='Bigender', ip_address='120.172.82.158')]

In [36]:
#how to select a comullm
df_pyspark.show()

+---+----------+-----------+--------------------+-----------+---------------+
| id|first_name|  last_name|               email|     gender|     ip_address|
+---+----------+-----------+--------------------+-----------+---------------+
|  1|       Der|    Guthrie|  dguthrie0@dmoz.org|Genderfluid|   84.199.30.53|
|  2|     Wilow|  MacAiline|wmacailine1@fotki...|Genderfluid| 105.73.152.225|
|  3|   Ignacio|     Elgood|       ielgood2@t.co|   Bigender| 120.172.82.158|
|  4|   Xymenes|     Angeli|  xangeli3@desdev.cn|     Female| 50.240.252.201|
|  5|    Egbert|  Glaserman|eglaserman4@tamu.edu|Genderfluid| 185.86.126.206|
|  6|  Ninnetta|    Burgill|nburgill5@utexas.edu|Genderqueer|  234.104.44.29|
|  7|     Adamo|    Haydney|ahaydney6@so-net....|   Bigender|    98.182.4.12|
|  8|     Belva|     Thrift|bthrift7@constant...|Genderqueer|    38.154.94.3|
|  9|  Nicholas|      Rathe|nrathe8@ycombinat...|Genderqueer|  64.117.235.16|
| 10|    Britni|      Coupe| bcoupe9@dropbox.com|   Bigender| 254.232.51.132|
| 11|     Paton|      Ruger|prugera@technorat...|     Female| 14.192.247.186|
| 12|   Shelley|     Cluney|   scluneyb@furl.net|   Bigender|  230.239.63.27|
| 13|    Elissa|     Janman|ejanmanc@acquiret...|Genderfluid| 14.159.227.104|
| 14|    Mendel| Giacoppoli|mgiacoppolid@uiuc...|Genderqueer|165.173.185.236|
| 15| Stephanie|Shaughnessy|sshaughnessye@lin...|   Bigender|   32.88.10.160|
| 16|  Patrizia|      Haugg|  phauggf@oracle.com|   Bigender|  160.98.135.64|
| 17|     Kevan|    Gittoes|kgittoesg@homeste...|     Female| 105.127.150.48|
| 18|   Giacomo|    McGauhy|gmcgauhyh@dropbox...| Polygender|  193.79.241.45|
| 19|       Vin|  Jagielski|vjagielskii@yello...|    Agender|    58.66.26.24|
| 20|      Saba|  Dumbelton|sdumbeltonj@edubl...|Genderfluid|  225.108.95.65|
+---+----------+-----------+--------------------+-----------+---------------+
only showing top 20 rows

In [37]:
df_pyspark.select(['email','last_name']).head(3)

[Row(email='dguthrie0@dmoz.org', last_name='Guthrie'),
 Row(email='wmacailine1@fotki.com', last_name='MacAiline'),
 Row(email='ielgood2@t.co', last_name='Elgood')]

In [38]:
df_pyspark['first_name']

Column<'first_name'>

In [39]:
df_pyspark.dtypes

[('id', 'int'),
 ('first_name', 'string'),
 ('last_name', 'string'),
 ('email', 'string'),
 ('gender', 'string'),
 ('ip_address', 'string')]

In [40]:
df_pyspark.describe().show()

+-------+-----------------+----------+---------+-------------------+----------+-------------+
|summary|               id|first_name|last_name|              email|    gender|   ip_address|
+-------+-----------------+----------+---------+-------------------+----------+-------------+
|  count|             1000|      1000|     1000|               1000|      1000|         1000|
|   mean|            500.5|      null|     null|               null|      null|         null|
| stddev|288.8194360957494|      null|     null|               null|      null|         null|
|    min|                1|     Abbye| Abramzon|aarnallg4@chron.com|   Agender|  0.109.124.7|
|    max|             1000|    Zondra| Zisneros|   zsyrie15@dot.gov|Polygender|99.204.174.23|
+-------+-----------------+----------+---------+-------------------+----------+-------------+

In [41]:
##Adding Comulms in Pyspark

df_pyspark=df_pyspark.withColumn('Ip Address Modified',df_pyspark['ip_address']+2)

In [42]:
df_pyspark

DataFrame[id: int, first_name: string, last_name: string, email: string, gender: string, ip_address: string, Ip Address Modified: double]

In [44]:
##Drop or Delete Columns

df_pyspark=df_pyspark.drop('Ip Address Modified').show()

+---+----------+-----------+--------------------+-----------+---------------+
| id|first_name|  last_name|               email|     gender|     ip_address|
+---+----------+-----------+--------------------+-----------+---------------+
|  1|       Der|    Guthrie|  dguthrie0@dmoz.org|Genderfluid|   84.199.30.53|
|  2|     Wilow|  MacAiline|wmacailine1@fotki...|Genderfluid| 105.73.152.225|
|  3|   Ignacio|     Elgood|       ielgood2@t.co|   Bigender| 120.172.82.158|
|  4|   Xymenes|     Angeli|  xangeli3@desdev.cn|     Female| 50.240.252.201|
|  5|    Egbert|  Glaserman|eglaserman4@tamu.edu|Genderfluid| 185.86.126.206|
|  6|  Ninnetta|    Burgill|nburgill5@utexas.edu|Genderqueer|  234.104.44.29|
|  7|     Adamo|    Haydney|ahaydney6@so-net....|   Bigender|    98.182.4.12|
|  8|     Belva|     Thrift|bthrift7@constant...|Genderqueer|    38.154.94.3|
|  9|  Nicholas|      Rathe|nrathe8@ycombinat...|Genderqueer|  64.117.235.16|
| 10|    Britni|      Coupe| bcoupe9@dropbox.com|   Bigender| 254.232.51.132|
| 11|     Paton|      Ruger|prugera@technorat...|     Female| 14.192.247.186|
| 12|   Shelley|     Cluney|   scluneyb@furl.net|   Bigender|  230.239.63.27|
| 13|    Elissa|     Janman|ejanmanc@acquiret...|Genderfluid| 14.159.227.104|
| 14|    Mendel| Giacoppoli|mgiacoppolid@uiuc...|Genderqueer|165.173.185.236|
| 15| Stephanie|Shaughnessy|sshaughnessye@lin...|   Bigender|   32.88.10.160|
| 16|  Patrizia|      Haugg|  phauggf@oracle.com|   Bigender|  160.98.135.64|
| 17|     Kevan|    Gittoes|kgittoesg@homeste...|     Female| 105.127.150.48|
| 18|   Giacomo|    McGauhy|gmcgauhyh@dropbox...| Polygender|  193.79.241.45|
| 19|       Vin|  Jagielski|vjagielskii@yello...|    Agender|    58.66.26.24|
| 20|      Saba|  Dumbelton|sdumbeltonj@edubl...|Genderfluid|  225.108.95.65|
+---+----------+-----------+--------------------+-----------+---------------+
only showing top 20 rows

In [47]:
##Rename the column
df_pyspark.withColumnRenamed('first_name','First Name').show()

+---+----------+-----------+--------------------+-----------+---------------+
| id|First Name|  last_name|               email|     gender|     ip_address|
+---+----------+-----------+--------------------+-----------+---------------+
|  1|       Der|    Guthrie|  dguthrie0@dmoz.org|Genderfluid|   84.199.30.53|
|  2|     Wilow|  MacAiline|wmacailine1@fotki...|Genderfluid| 105.73.152.225|
|  3|   Ignacio|     Elgood|       ielgood2@t.co|   Bigender| 120.172.82.158|
|  4|   Xymenes|     Angeli|  xangeli3@desdev.cn|     Female| 50.240.252.201|
|  5|    Egbert|  Glaserman|eglaserman4@tamu.edu|Genderfluid| 185.86.126.206|
|  6|  Ninnetta|    Burgill|nburgill5@utexas.edu|Genderqueer|  234.104.44.29|
|  7|     Adamo|    Haydney|ahaydney6@so-net....|   Bigender|    98.182.4.12|
|  8|     Belva|     Thrift|bthrift7@constant...|Genderqueer|    38.154.94.3|
|  9|  Nicholas|      Rathe|nrathe8@ycombinat...|Genderqueer|  64.117.235.16|
| 10|    Britni|      Coupe| bcoupe9@dropbox.com|   Bigender| 254.232.51.132|
| 11|     Paton|      Ruger|prugera@technorat...|     Female| 14.192.247.186|
| 12|   Shelley|     Cluney|   scluneyb@furl.net|   Bigender|  230.239.63.27|
| 13|    Elissa|     Janman|ejanmanc@acquiret...|Genderfluid| 14.159.227.104|
| 14|    Mendel| Giacoppoli|mgiacoppolid@uiuc...|Genderqueer|165.173.185.236|
| 15| Stephanie|Shaughnessy|sshaughnessye@lin...|   Bigender|   32.88.10.160|
| 16|  Patrizia|      Haugg|  phauggf@oracle.com|   Bigender|  160.98.135.64|
| 17|     Kevan|    Gittoes|kgittoesg@homeste...|     Female| 105.127.150.48|
| 18|   Giacomo|    McGauhy|gmcgauhyh@dropbox...| Polygender|  193.79.241.45|
| 19|       Vin|  Jagielski|vjagielskii@yello...|    Agender|    58.66.26.24|
| 20|      Saba|  Dumbelton|sdumbeltonj@edubl...|Genderfluid|  225.108.95.65|
+---+----------+-----------+--------------------+-----------+---------------+
only showing top 20 rows